<div class="registro-container">
  <h2>Registro</h2>
  
  <form [formGroup]="form" (ngSubmit)="registrar()">
    <div>
      <input type="text" placeholder="Nombre de usuario" formControlName="username" />
    </div>
    <div>
      <input type="email" placeholder="Correo electrónico" formControlName="email" />
    </div>
    <div>
      <input type="password" placeholder="Contraseña" formControlName="password" />
    </div>
    <div class="buttons">
      <button type="submit">Registrar</button>
      <button type="button" [routerLink]="['/']">Volver al login</button>
    </div>
  </form>
</div>
